
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  /* Style the header */
  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /*
  .part1{
    position: absolute;
    top: 14%;
    left: 0%;
    width: 50%;
    height:86%;
    border: solid green;
  }
  .part2{
    position: absolute;
    top: 14%;
    left: 50%;
    width: 50%;
    height: 86%;
    border: solid red;
  }
  .button{
    position: relative;
    top:43%;
    left:45%;
    border: 5px solid green;
    padding : 15px;
    font-size: 30px;
    font-weight: bolder;
  }

  */