<div *ngIf="isLoggedIn; else loginmsg">
 
<br>    
<span><h1>To Do Details!
<span class="search-div div1 dist">  
    <button mat-raised-button class="addbtn" (click)="additem()">
      <mat-icon>add</mat-icon>Create
    </button>&nbsp;&nbsp;
    <mat-form-field  class="search-form-field search" floatLabel="never">
      <input matInput placeholder="Search" [(ngModel)]="searchKey" (keyup)="applyFilter($event)" #input>
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  &nbsp;&nbsp;
  <span role="button" mat-btn class="btn btn-outline-danger addbtn" (click)="logout()">Sign Out</span>
</span>
</h1></span>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Icon</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of itemData">
      <th>{{data.title}}</th>
      <td>{{data.icon}}</td>
      <td>{{data.startdate}}</td>
      <td>{{data.enddate}}</td>
      <td><a (click)="onEdit(data)"><span
        role="button" class="fa fa-edit" style="font-size:20px;color:blueviolet;"></span>
     </a>&nbsp;&nbsp;
        <span role="button" (click)="delete(data.$key)" class="fa fa-trash" style="font-size:20px;color:red;"></span>
         
      </td>
    </tr>
  </tbody>
</table>
</div>
<ng-template #loginmsg>
  <h1 style="text-align: center;color: red;margin-top: 10%;">Please Login First !</h1>
</ng-template>








<!-- Mat table
<body>

   <div *ngIf="isLoggedIn">
    
<div class="header">
    <h2><u>To Do Details!</u></h2>
  </div>
  

<hr style="background-color: firebrick;">

<span role="button" mat-btn class="btn btn-outline-danger addbtn" (click)="logout()">Sign Out</span>
<span role="button" mat-btn class="btn btn-outline-primary addbtn" (click)="additem()">Add To-Do</span>
<div class="container">
<div class="col-sm-7 main2">
  <h3 style="margin-left: 80%;color: blue;font-family:Georgia, 'Times New Roman', Times, serif;"><u>To-Do</u></h3>
  <table>
    <tr>
      <th>Title</th>
      <th>Icon</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let data of itemData">
      <td>{{data.title}}</td>
      <td>{{data.icon}}</td>
      <td>{{data.startdate}}</td>
      <td>{{data.enddate}}</td>
      <td>
        <button mat-icon-button  type="button" (click)="onEdit(data)"><mat-icon>launch</mat-icon></button>&nbsp;
        <button mat-icon-button  type="button" color="warn" (click)="onDelete(data.$key)"><mat-icon>delete_outline</mat-icon></button> 
        <i class="fa fa-edit" role="button" style="font-size:20px;color:blue;" (click)="onEdit(data)"></i>&nbsp;
        <i class="fa fa-danger" role="button" style="font-size:20px;color:red;" (click)="onDelete(data.$key)"></i>
    </td>
    </tr>
  </table>
</div>

</div>
<br>
<br>
&nbsp;
</div>
</body>
-->




<!--
 
<div *ngIf="isLoggedIn; else loginmsg">
  <ng-template #loginmsg>
    <h1>Please Login First !</h1>
  </ng-template>
<br>
  <h1 style="text-align: center;font-size: 30px;font-weight: bold;">To-Do List<span role="button" class="btn btn-outline-danger logoutbtn" 
    (click)="logout()">Sign Out</span></h1>

<hr>
<br>
<div class="search-div div1">
  <button mat-raised-button class="addbtn" (click)="additem()">
    <mat-icon>add</mat-icon>Create
  </button>&nbsp;&nbsp;
  <mat-form-field  class="search-form-field search" floatLabel="never">
    <input matInput placeholder="Search" [(ngModel)]="searchKey" (keyup)="applyFilter($event)" #input>
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
<table mat-table [dataSource]="itemData" matSort>

 
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

 
  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Icon </th>
    <td mat-cell *matCellDef="let element"> {{element.icon}} </td>
  </ng-container>

 
  <ng-container matColumnDef="startdate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
    <td mat-cell *matCellDef="let element"> {{element.startdate}} </td>
  </ng-container>

  
  <ng-container matColumnDef="enddate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
    <td mat-cell *matCellDef="let element"> {{element.enddate}} </td>
  </ng-container>


  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let row">
      <button type="button" mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
      <button type="button" mat-icon-button color="warn" (click)="onDelete(row.$key)"><mat-icon>delete_outline</mat-icon></button>
    </td>
  </ng-container>
 
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
</table>

</div>
<br>
</div>
-->


